.c-owl {
    margin-top: 30px;
    @media (min-width: $md) {
        margin-top: 50px;
    }
    .owl-stage {
        height: 480px;
        padding-top: 20px;
        display: flex;

        @media (min-width: $md) {
            height: 430px;
        }

        @media (min-width: $lg) {
            height: 480px;
        }
    }
    .owl-dots {
        @media (max-width: $sm-max) {
            display: none;
        }
    }
    @media (min-width: $lg) {
        .owl-nav {
            button {
                position: absolute;
                top: 30%;
                font-size: 30px !important;
                color: $red !important;
            }
    
            .owl-prev {            
                left: -20px;
            }
            .owl-next {
                right: -20px;
            }
        }
    }
    .owl-dots {
        height: 30px;
        text-align: center;
        margin-top: 15px;
        .owl-dot {
            background-color: $gray;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 10px;
            &:nth-last-of-type(1) {
                margin-right: 0;
            }
            &.active {
                background-color: $black;
            }
        }
    }
}